[submodule "microservices/email"]
	path = microservices/email
	url = git@github.com:repooooo/email-service.git
[submodule "microservices/auth"]
	path = microservices/auth
	url = git@github.com:repooooo/auth-service.git
[submodule "microservices/protos"]
	path = microservices/protos
	url = git@github.com:repooooo/protos.git
[submodule "monitoring/grafana"]
	path = monitoring/grafana
	url = git@github.com:repooooo/grafana.git
