[submodule "microservices/email"]
	path = microservices/email
	url = git@github.com:repooooo/email-service.git
	branch = master
[submodule "microservices/auth"]
	path = microservices/auth
	url = git@github.com:repooooo/auth-service.git
	branch = master